
<link href="~/Content/becomeahos.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="jumbotron jumbotron-billboard">
    <div class="img"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
               
       
                <br />
                <br />


           

                <h1 class="_pcau1d0 h" data-reactid="12"><font color="White"><b>TireHotel</b></font></h1>
              
                <a href="~/Signup.cshtml" class="btn btn-danger btn-lg">Get Started</a>
            </div>
        </div>
    </div>
</div>